.title{
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
}

.loginFormAddress{
    border: 1px solid white;
    border-radius: 7px;
    margin: 30px auto;
    width: 300px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 5px;
}
.outer{
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/digital-marketing-for-hotels.jpg') center no-repeat;
}

.forma{
    width: 400px;
    margin: 0 auto;
    padding-top: 100px;
    color: white;
}

.formaTitle{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.formatTitleFirst{
    font-size: 50px;
}

.loginForm{
    width: 450px;
    height: 700px;
    margin: 25px auto 0;
    padding-top: 40px;
    border-radius: 20px;
    background-color: #14274A;
}

.loginFormUsername{
    margin: 0 auto;
    width: 300px;
    height: 50px;
    border: 1px solid white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginFormPassword{
    border: 1px solid white;
    border-radius: 7px;
    margin: 30px auto;
    width: 300px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 5px;
}

.inputUsername{
    background-color: #14274A;
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    width: 88%;
}

.inputUsername::placeholder{
    color: white;
}

.inputPassword{
    color: white;
    background-color: #14274A;
    font-size: 15px;
    border: none;
    outline: none;
    width: 78%;
}

.inputPassword::placeholder{
    color: white;
}

.buttonLogin {
    display: block;
    margin: 20px auto 0;
    width: 300px;
    height: 50px;
    background-color: #E0B973;


    cursor: pointer;
    border: none;
    border-radius: 7px;
}