.intro{
  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/digital-marketing-for-hotels.jpg') center no-repeat;
  color: white;
}
.navBar{
  width: 100%;
  height: 70px;
  position: relative;
  list-style: none;
  color: white;
}
.navBarList{
  display: flex;
  list-style: none;
  color: white;
  position: absolute;
  top: 70%;
  right: 10%;
  text-decoration: none;
}
.navBarListItem{
  margin-right: 50px;
  text-decoration: none;
}
.intro-navBar-list-item > a{
  text-decoration: none;
  color: white;
}
.introMain{
  margin-top: 270px;
  margin-left: 400px;
  width: 700px;
}

.introMainFirst{
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.introMainSecond{
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

.introMainThird{
  font-size: 20px;
}

.main{
  width: 100%;
  height: 70vh;
  color: #14274A;
}

.mainTop{
  width: fit-content;
  font-size: 25px;
  font-weight: bold;
  margin: 70px auto 0;
}

.mainContent{
  width: 70%;
  margin: 70px auto 0;
  display: flex;
}

.mainContentInner{
  width: 60%;
  padding-left: 45px;
  padding-right: 100px;
  display: flex;
  align-items: center;
}

.mainContentInnerTitle{
  font-size: 45px;
  font-weight: bold;
}
.mainContentInnerText{
  margin-top: 20px;
  font-size: 22px;
}

.mainContentInnerLink{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  color: white;
  width: 150px;
  height: 40px;
  background-color: #E0B973;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

