.outro{
    /*background: url('/PROFILES-01.png') center no-repeat;*/
}

.header{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.generalInfo{
    display: flex;
    align-items: center;
    margin-left: 200px;
    max-width: 400px;
}

.photo{
    margin-right: 20px;
}