.outer{
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/digital-marketing-for-hotels.jpg') center no-repeat;
    padding-top: 70px;
}

.main{
    max-width: 400px;
    margin: 0 auto;
    background-color: bisque;
}

.roomOuter{
    display: flex;
    align-items: center;
}

.listImg{
    margin-right: 20px;
}
.list{
    list-style: none;
}

.listItem{
    margin-bottom: 20px;
}