.outro{
    width: 100%;
    height: 100vh;
    /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/digital-marketing-for-hotels.jpg') center no-repeat;*/
    z-index: -2;
}

.navBar{
    width: 100%;
    height: 70px;
    position: relative;
    list-style: none;

}
.navBarList{

    display: flex;
    list-style: none;
    align-items: center;
    position: absolute;
    top: 70%;
    right: 10%;
    text-decoration: none;
}
.navBarListItem{

    margin-right: 50px;
    text-decoration: none;
}


.logOut{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #E0B973;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.listLogOut{

    width: 70px;

    margin-left: 100px;
}
.title{

    font-size: 32px;
    margin-top: 30px;
    text-align: center;
}

.generalInfo{

    display: flex;
    align-items: center;
    margin-left: 200px;
    max-width: 400px;
}

.photo{

    margin-right: 20px;
}

